:root {
    --primary: #f7e3ee;
    --bg: #f0cee1; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    color:azure; 
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(104, 11, 64, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .navbar-logo {
font-size: 1.5rem;
font-weight: 500;
color: #fff;
font-style: italic;
}

.navbar .navbar-nav a {
color:#fff;
display: inline-block;
font-size: 1rem;
margin: 0 1rem;
}
 
.navbar .navbar-nav a:hover {
    color: var(--primary);
}

